.actionButton {
    background-color: purple;
    border-radius: 50%;
    font-size: 2rem;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.icon {
    height: 1em;
    width: 1em;
}
