.actionButton {
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.icon {
    height: 1em;
    width: 1em;
    transition-property: rotate;
    transition-duration: 0.5s;
}

.close .icon {
    rotate: 0deg;
}

.open .icon {
    rotate: 135deg;
}
